

*{
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* navbarwork */

.navDivOne{
    height: 10vw;
    width: 100%;
    background-color: #5e5e5e;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navDivOneHeader{
    font-size: 3vw;
    font-family: sans-serif;
    color: #ffffff;
   
}

.mrShopLogo{
    object-fit: contain;
    height: 11vw;
    width: 20vw;
}

.navDivTwo{
    height: 2vw;
    width: 70%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}

.navLink{
 text-decoration: none;
 font-size: 1.5vw;
 color: #ffff;
 /* gap: 0vw 1vw; */
 font-family: sans-serif;
}

.navLink:hover{
    color: #f5a35f;
}
#icon{
    font-size: 3vw;
    font-family: sans-serif;
    color: #ffffff;
    display: none;
}
#cart{
    color: #fff;
    
}
.iconLink{
    display: none;
}





/* sectionDivOne */

.sectionDivOne{
    height: 20vw;
    width: 100%;
    background-color: #dadada;
    position: absolute;

}

.sectionDivOneHeader{
    font-size: 2vw;
    font-family: sans-serif;
    margin: 1rem 0.5rem;
}

.sectionDivSubOne{
    height: 15vw;
    width: 100%;
    /* background-color: aqua; */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.sectionDivsubDivOne{
    height: 10vw;
    width: 30%;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 0.2rem;
}

.sectionDivsubDivOne h3 {
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;
    color: #777777;
    margin: 1rem 0rem;
}
.sectionDivsubDivOne p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5vw;
}
.sectionDivsubDivTwo{
    height: 10vw;
    width: 33.33%;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 0.2rem;
}

.sectionDivsubDivTwo h3 {
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;
    color: #777777;
    margin: 1rem 0rem;
}
.sectionDivsubDivTwo p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5vw;
}

.sectionDivsubDivThree{
    height: 10vw;
    width: 33.33%;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 0.2rem;
}

.sectionDivsubDivThree h3 {
    font-size: 2vw;
    text-align: center;
    font-family: sans-serif;
    color: #777777;
    margin: 1rem 0rem;
}
.sectionDivsubDivThree p {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5vw;
}


/* sectiontwo */

.sectiontwo{
    height: 35vw;
    width: 100%;
    /* background-color: #f5a35f; */
    /* border: 1px solid red; */
    position: absolute;
    top: 30vw;
    /* z-index: 1; */
}

.sectionTwoHeader{
    color: #0f0f0f;
    font-size: 2vw;
    text-align: center;
    padding: 1rem 0rem ;
 }
.sectionTwomain{
    height:87%;
    width: 100%;
   /* border:1px solid red; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}

.subSectionOne{
    height: 90%;
    width: 45%;
    background-color: #fff;
    background-image: url("background.avif");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}



.subSectiontwo{
    height: 90%;
    width: 45%;
    background-color: #fff;
    background-image: url("bakcground2.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* subSectionOneProductAreaOne */
.subSectionOneProductAreaOne{
    height: 90%;
    width: 30%;
   background-color: #fff;
    margin: 0rem 1rem;
    transform: scale(1,1);
    transition: all 0.4s 0s linear ;
    cursor: pointer;
}

.subSectionOneProductAreaOne:hover{
    transform: scale(1.1,1.1);
}


.subSectionOneProductAreaOneImage{
    height: 12vw;
    width: 100%;
    object-fit: cover;

}
/* discriptio  */
.discription{
    font-size: 1vw;
    font-weight: 600;
    font-family: sans-serif;
}

.discountPrice{
    font-size: 1.5vw;
    font-family: sans-serif;
    margin: 1rem 0rem 0.2rem 0rem;
}

.btn{
    background-color: #f5a35f;
    color: #fff;
    margin: 1vw 1vw;
    border: 1px solid #f5a35f;
    border-radius: 2px;
    font-size: 1.3vw;
    cursor: pointer;
}




/* subSectionTwo */
.subSectionOneProductAreaTwo{
    height: 90%;
    width: 30%;
    background-color: #fff;
    margin: 0rem 1rem;
    transform: scale(1,1);
    transition: all 0.4s 0s linear ;
    cursor: pointer;
}

.subSectionOneProductAreaTwo:hover{
    transform: scale(1.1,1.1);
}


.subSectionOneProductAreaTwoImage{
    height: 12vw;
    width: 100%;
    object-fit: cover;

}
/* discriptio  */
.discription2{
    font-size: 1vw;
    font-weight: 600;
    font-family: sans-serif;
}


.discountPrice2{
    font-size: 1.5vw;
    
    font-family: sans-serif;
    margin: 1rem 0rem 0.2rem 0rem;
}

/* footer */

.footerMainDiv{
    height: 50%;
    width: 100%;
    background-color: #282c34;
    
    position: absolute;
    top: 65vw;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footerSubDiv */

.footerSubDiv{
    height: 80%;
    width: 100%;
    background-color: #282c34;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footerSubDivOne{
    height: 80%;
    width: 20%;
    /* border: 1px solid black; */
}

.footerSubDivTwo{
    height: 80%;
    width: 20%;
    /* border: 1px solid black; */
}

.footerSubDivThree{
    height: 80%;
    width: 20%;
    /* border: 1px solid black; */
}

.footerSubDivFour{
    height: 80%;
    width: 20%;
    /* border: 1px solid black; */
}

/* footerIcon */

#footerIcn1{
    font-size: 2vw;
    color: #f8f8f8;
    margin: 0rem 0rem 0rem 3rem;
    cursor: pointer;
}

#footerIcn2{
    font-size: 2vw;
    color: #f8f8f8;
    margin: 0rem 0rem 0rem 2rem;
    cursor: pointer;
}

#footerIcn3{
    font-size: 2vw;
    color: #f8f8f8;
    margin: 0rem 0rem 0rem 2rem;
    cursor: pointer;
}

/* footer info area */

.footerSubDvOneHeader4{
    color: #ffffff;
    text-align: center;
    font-size: 2vw;
    margin: 2rem 0rem;
}

.footerSubDvOneHeader5{
    color: #fff;
    text-align: center;
    font-weight: 100;
}

.navLink2{
    text-decoration: none;
    display: block;
    font-size: 1.5vw;
    text-align: center;
    color: #fff;
    line-height: 2vw;
}
.navLink2:hover{
    color: #f5a35f;
}

/* form */

.form{
    color: #fff;
    background-color: #282c34;
    border: none;
    text-align: left;
    margin: 0.51vw 2vw;
    cursor: pointer;
}
.form:hover{
    color: #f5a35f;
}

::placeholder{
    color: #fff;
}

/* ::-ms-input-placeholder{
    color: blue;
} */



.lastHr{
    height: 0.5px;
    width: 95%;
    position: absolute;
    top: 22.3vw;
    /* z-index: 1; */
    background-color: #5e5e5e;
    
    text-align: center;
}

.footerLastDiv{
    height: 5vw;
    width: 100%;
    background-color: #282c34;
    position: relative;
    top: 77.5vw;
    /* z-index: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    color: #fff;
    font-weight: 400;
}

/* media Quiary */

@media (max-width: 426px) {

    .navDivTwo{
        height: 2vw;
        width: 70%;
        /* background-color: aqua; */
        display: flex;
        justify-content: flex-end;
        
    }
   #icon{
        font-size: 5vw;
        font-family: sans-serif;
        color: #ffffff;
        display: block;
        cursor: pointer;
        /* position: relative;
        left: 60vw; */
    }

   #cart{
    font-size: 3vw;
    padding: 0rem 1rem 0rem 0rem;
   }
     
    .navLink{
        text-decoration: none;
        font-size: 1.5vw;
        color: #ffff;
        /* gap: 0vw 1vw; */
        font-family: sans-serif;
        display: none;
       }

       /* .navDivOne{
        height: 10vw;
        width: 100%;
        background-color: #5e5e5e;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
    } */

       .navDivOneHeader{
        font-size: 3vw;
        font-family: sans-serif;
        color: #ffffff;
       position: relative;
       left: 2vw;
    }
    .mrShopLogo{
        object-fit: contain;
        height: 15vw;
        width: 20vw;
    }
    .iconDivOne{
        height: 30vw;
        width: 60vw;
        background-color: #5e5e5e;
        /* border: 1px solid red; */
        position: absolute;
        left: 50vw;
        z-index: 1;
        display: none;
        /* margin: 5vw 0vw;
         */
        text-align: center;
    }

    .iconLink{
       display: block;
        font-size: 5vw;
        text-decoration: none;
        color: #ffffff;
        font-family: sans-serif;
        border-bottom: 1px solid rgb(68, 68, 68);
        line-height: 7vw;
       
    }
    .iconLink:hover{
        color: #f5a35f;
    }


     
    /* SectionOne */

    .sectionDivOne{
        height: 89vw;
        width: 100%;
        background-color: #dadada;
        position: relative;
    
    }
 
    .sectionDivOneHeader{
        font-size: 5vw;
        font-family: sans-serif;
        margin: 0rem 0rem 0rem 0rem;
        padding: 0.5rem 0rem 0rem 0rem;
        text-align: center;
    }
 
    .sectionDivSubOne{
        height: 80vw;
        width: 100%;
        /* background-color: aqua; */
        position: absolute;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* flex-wrap: wrap; */
        flex-direction: column;
    
    }
 
    
 .sectionDivsubDivOne{
    height: 30%;
    width: 100%;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 0.2rem;
 }
 
 .sectionDivsubDivOne h3 {
    font-size: 5vw;
    text-align: center;
    font-family: sans-serif;
    color: #777777;
    margin: 1rem 0rem;
 }
 .sectionDivsubDivOne p {
    text-align: center;
    font-family: sans-serif;
    font-size: 3vw;
 }
 .sectionDivsubDivTwo{
    height: 30%;
    width: 100%;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 0.2rem;
 }
 
 .sectionDivsubDivTwo h3 {
    font-size: 5vw;
    text-align: center;
    font-family: sans-serif;
    color: #777777;
    margin: 1rem 0rem;
 }
 .sectionDivsubDivTwo p {
    text-align: center;
    font-family: sans-serif;
    font-size: 3vw;
 }
 
 .sectionDivsubDivThree{
    height: 30%;
    width: 100%;
    background-color: #ffffff;
    /* border: 1px solid black; */
    border-radius: 0.2rem;
 }
 
 .sectionDivsubDivThree h3 {
    font-size: 5vw;
    text-align: center;
    font-family: sans-serif;
    color: #777777;
    margin: 1rem 0rem;
 }
 .sectionDivsubDivThree p {
    text-align: center;
    font-family: sans-serif;
    font-size: 3vw;
 }
 
 
   
/* sectiontwo */

.sectiontwo{
    height: 700vw;
    width: 100%;
    /* background-color: #f5a35f; */
    /* border: 1px solid red; */
    position: absolute;
    top: 99vw;
    z-index: 1;
}

.sectionTwoHeader{
    color: #0f0f0f;
    font-size: 5vw;
    text-align: center;
    padding: 0rem 0rem ;
 }
.sectionTwomain{
    height:100%;
    width: 100%;
   /* border:1px solid red; */
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   flex-direction: column;
}

/* subSectionOne */

.subSectionOne{
    height: 180%;
    width: 100%;
    /* background-color: #fff; */
    background-image: url("background.avif");
    object-fit: cover;
    margin: 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
}



/* subSectionOneProductAreaOne */
.subSectionOneProductAreaOne{
    height: 95%;
    width: 60%;
   background-color: #fff;
    margin: 1rem 1rem;
 transform: scale(1,1);
    transition: all 0.4s 0s linear ;
    cursor: pointer;
}

.subSectionOneProductAreaOne:hover{
transform: scale(1.1,1.1);
}

.subSectionOneProductAreaOneImage{
    height: 60vw;
    width: 100%;
    object-fit: contain;

}

/* discriptio  */
.discription{
    font-size: 5vw;
    font-weight: 600;
    font-family: sans-serif;
}

.discountPrice{
    font-size: 6vw;
    font-family: sans-serif;
    margin: 1rem 0rem 0.2rem 0rem;
}

.btn{
    background-color: #f5a35f;
    color: #fff;
    margin: 1vw 1vw;
    border: 1px solid #f5a35f;
    border-radius: 2px;
    font-size: 5vw;
    cursor: pointer;
}


/* sectionTwo */
.subSectiontwo{
    height: 180%;
    width: 100%;
    /* background-color: #fff; */
    background-image: url("bakcground2.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subSectionOneProductAreaTwo{
    height: 95%;
    width: 60%;
   background-color: #fff;
    margin: 1rem 1rem;
 transform: scale(1,1);
    transition: all 0.4s 0s linear ;
    cursor: pointer;
}
.subSectionOneProductAreaOne:hover{
    transform: scale(1.1,1.1);
    }

    .subSectionOneProductAreaTwoImage{
        height: 60vw;
        width: 100%;
        object-fit: cover;
    
    }
    
    /* discriptio  */
    .discription2{
        font-size: 5vw;
        font-weight: 600;
        font-family: sans-serif;
    }
    
    .discountPrice2{
        font-size: 6vw;
        font-family: sans-serif;
        margin: 1rem 0rem 0.2rem 0rem;
    }
    


    /* footer */

.footerMainDiv{
    height: 150%;
    width: 100%;
    background-color: #282c34;
    
    position: absolute;
    top: 804.7vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footerSubDiv */

.footerSubDiv{
    height:100%;
    width: 100%;
    background-color: #282c34;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.footerSubDivOne{
    height: 80%;
    width: 80%;
    /* border: 1px solid rgb(255, 255, 255); */
    margin: 1rem 0rem;
}

.footerSubDivTwo{
    height: 80%;
    width: 80%;
    /* border: 1px solid black; */
    margin: 1rem 0rem;
}

.footerSubDivThree{
    height: 80%;
    width: 80%;
    /* border: 1px solid black; */
    margin: 1rem 0rem;
}

.footerSubDivFour{
    height: 80%;
    width: 80%;
    /* border: 1px solid black; */
    margin: 1rem 0rem;
}


/* footerIcon */

#footerIcn1{
    font-size: 5vw;
    color: #f8f8f8;
    margin: 0rem 0rem 0rem 6rem;
    cursor: pointer;
}

#footerIcn2{
    font-size: 5vw;
    color: #f8f8f8;
    margin: 0rem 0rem 0rem 2rem;
    cursor: pointer;
}

#footerIcn3{
    font-size: 5vw;
    color: #f8f8f8;
    margin: 0rem 0rem 0rem 2rem;
    cursor: pointer;
}

/* footer info area */

.footerSubDvOneHeader4{
    color: #ffffff;
    text-align: center;
    font-size: 5vw;
    margin: 2rem 0rem;
}

.footerSubDvOneHeader5{
    color: #fff;
    text-align: center;
    font-weight: 100;
    font-size: 4vw;
}

.navLink2{
    text-decoration: none;
    display: block;
    font-size: 4vw;
    text-align: center;
    color: #fff;
    line-height: 5vw;
}
.navLink2:hover{
    color: #f5a35f;
}

/* form */

.form{
    color: #fff;
    background-color: #282c34;
    border: none;
    text-align: left;
    font-size: 4vw;
    margin: 0.51vw 15vw;
    cursor: pointer;
}
.form:hover{
    color: #f5a35f;
}


.lastHr{
    height: 2px;
    width: 95%;
    position: absolute;
    top: 213vw;
    z-index: 1;
    background-color: #5e5e5e;
    text-align: center;
}


.footerLastDiv{
    height: 17vw;
    width: 100%;
    background-color: #282c34;
    position: absolute;
    top: 1019vw;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}



.copyright{
    color: #fff;
    font-size: 3vw;
}


}

@media (max-width:376px) {
    .lastHr{
        height: 2px;
        width: 95%;
        position: absolute;
        top: 242vw;
        /* z-index: 1; */
        background-color: #5e5e5e;
        text-align: center;
    }

    .footerLastDiv{
        height: 17vw;
        width: 100%;
        background-color: #282c34;
        position: absolute;
        top: 1047vw;
        /* z-index: 1; */
        display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .copyright{
        color: #fff;
        font-size: 3vw;
    }
    
    #footerIcn1{
        font-size: 5vw;
        color: #f8f8f8;
        margin: 0rem 0rem 0rem 5rem;
        cursor: pointer;
    }

}
 
@media (max-width:321px) {
    .lastHr{
        height: 2px;
        width: 95%;
        position: absolute;
        top: 284vw;
        z-index: 1;
        background-color: #5e5e5e;
        text-align: center;
    }

    .footerLastDiv{
        height: 17vw;
        width: 100%;
        background-color: #282c34;
        position: absolute;
        top: 1089vw;
        z-index: 1;
    }
    
    #footerIcn1{
        font-size: 5vw;
        color: #f8f8f8;
        margin: 0rem 0rem 0rem 4rem;
        cursor: pointer;
    }
}



    
