* {
    margin: 0px;
    padding: 0px;
}

/* .btun {
    height: 10vh;
    width: 80%;
    background-color: #D1E9F6;
    margin-top: 3rem;
    margin-left: 3rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    border: none;
    
}

.bbn{
    height: 10vh;
    width: 80%;
    background-color: #5145d8;
    margin-top: 3rem;
    margin-left: 3rem;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    letter-spacing: 0.2rem;
    border-radius: 0.5rem;
    color: #fff;
}

.hidden{
    height: 0vh;
    
    width: 80%;
    background-color: #D1E9F6;
    margin-left: 3rem;
    font-size: 0rem;
   color: #000;
    line-height: 40px;
    /* text-align: center; */
    /* transition: all 0.5s 0s ease-in;
}

.btn {
    height: 30vh;
    
    width: 80%;
    background-color: #5145d8;
    margin-left: 3rem;
    font-size: 1.5rem;
   color: #000;
    line-height: 40px;
    /* text-align: center; */
    /* transition: all o.5s 0s linear;
    border-radius: 0.5rem;
    color: #fff;
    text-shadow: 0 1 rgba(255, 0, 0, 1);
} */
/* .hidden:hover{
    height: 30vh;
    font-size: 1.5rem;
    
} */

/* 
#input {
    height: 3vh;
    width: 30vh;
    padding:10vh;
    
} */ 

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 10vh;
    width: 80%;
    /* border: 1px solid red; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.change{
text-align: center;
background-color: #fff;
border: none;
cursor: pointer;
display: block;
}
/* #turn{
    transition: all 1s 0s linear;
    /* font-size: 3rem; */
    /* transform: rotate(0 deg); */
/* } */ 

/* #turn:hover{
    transform: rotate( 180deg);
}  */

.wided{
    height: 30vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    visibility: hidden;
  
}

table{
    text-align: center;
   
}
td{
    padding-left: 10rem;
}

img{
    height: 2rem;
    width: 2rem;
}

.width{
    height: 30vh;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    visibility: visible;
}
