*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}



header{
    height: 5vw;
    width: 100%;
    background-color: #0d0f0d;
    z-index: 1;
}

h2{
    color: #ffff;
}