*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: #021526;
    color: #E2E2B6;
    height: 5rem;
    line-height: 5rem;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

img:hover{
    border: 5px solid #021526;
    cursor: pointer;
  
}

.choice{
    height: 165px;
    width: 165px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}


.score_board {
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
gap: 5rem;
margin-top: 3rem;

}

/* .score {

} */

#user_scor,
 #computer_scor {
    font-size: 4rem;
}

.msg_container {
    margin-top: 5rem;
}

#msg{
    background-color: #021526;
    color: #E2E2B6;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}