*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* welly_first_header */

.welly_first_header{
    height: 64px;
    width: 100%;
    background-color: #ffffff;
    
    
}


/* welly_first_header */

.welly_first_iner_header{
    height: 64px;
    width: 90%;
    /* background-color: rgb(108, 143, 154); */
    margin: 0px 80px;
    display: flex;
}

/* header_product */

.header_product{
    height: 64px;
    width: 135px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.a{
     color: #003e37;
    font-size: 0.9rem;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 1px;
    font-weight: 500;
}

.a:hover{
    color: #e872e2;
}

.header_info{
    height: 64px;
    width: 163px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    
}

.header_find{
    height: 64px;
    width: 109px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* welly_logo */

.welly_logo{
    height: 64px;
    width: 120px;
    /* border: 1px solid black; */
    margin: 0px 200px;
    background-size: cover;
}

/* search_bar */
.welly_search_bar{
    height: 34px;
    width: 170px;
    border-bottom: 1px solid #000000;
    margin-top: 20px;
    margin-left: 200px;
    display: flex;
    align-items: center;

}

.search_icon{
    font-size: 1.1rem;
}
.search_input{
    font-size: 0.75rem;
    margin: 0px 30px;
    border: none;
    letter-spacing: 2px;
    font-weight: 600;

}

/* welly_second_header */


.welly_second_header{
    height: 60px;
    width: 100%;
    background-color: #caed30;
    display: flex;
    justify-content: space-between;
    
}

.welly_second_header_info{
    height: 60px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.welly_second_header_info_para {
    font-size: 1.3rem;
    letter-spacing: 1px;
    
   
}
/* .animation{
    position: relative;
    animation: animation_move 10s 0s linear infinite; */
    /* transform: translate(100,0); */
    /* overflow: hidden;
} */

/* @keyframes animation_move{
    0%{ 
        /* transform: translate(100,0); */
       /* top: 0px; right: 0px; bottom: 0px; left: 100%;
       overflow: hidden;
      
    } */ */
   
    
       
    /* 100%{ */
        /* transform: translate(100,0); */
        /* top: 0px; right: 0px; bottom: 0px; left: -100%;
        overflow: hidden;
    }
} */



.welly_second_header_info_icon{
  margin: 45px;
  font-size: 1.2rem;
  /* animation: animation_move 5s 0s linear infinite; */
  
}

/* .animation{ 
    position: relative;

} */

/* mainpart */
.mainpart_link{
    text-decoration: none;
}

.welly_first_templet{
    height: 681px;
    width: 100%;
    background-size: cover;
   
}

.welly_templet_para{
    height: 191px;
    width: 641px;
    /* border: 1px solid black; */
    margin: 300px 0px 0px 90px;
    display: flex;
    justify-content: center;
}

.just_div{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.main_paragraph{
    font-family: serif;
    color: #ffffff;
    font-size: 3.8rem;
    word-spacing: 3px;
    /* text-align: center; */
}

/* button */
.button_welly{
    display: block;
    margin-left: 90px;
}

.main_button{
    height: 42px;
    width: 170px;
    /* color: ; */
    background-color: #caed30;
    border: none;
    border-radius: 30px;
    font-size: 0.85rem;
    font-family: sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}
.main_button:hover{
    background-color: #c4fdff;
}

/* hero_section */

.hero_section{
    height: 652px;
    width: 100%;
    /* border: 1px solid black; */
    /* background-color: #e872e2; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_section_info{
    height: 532px;
    width: 90%;
    /* border: 1px solid black; */
}

.hero_heading{
    height: 63px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headin_h1{
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 100;
    color: #003e37;
    letter-spacing: 2px;
    margin-bottom: 50px;
}

/* contant */
.hero_contant{
    height: 349px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.hero_contant1{
    height: 349px;
    width: 360px;
    /* border: 1px solid black; */
    /* margin: 0px 40px 0px 40px; */
    background-size: cover;
  
}
.hero_section_image{
    background-size: contain;
    height: 349px;
    width: 360px;
    transform: scale(1, 1);
    border: 2px solid white;
    border-radius: 20px;
    transition: height 1s 0s linear;
}
.hero_section_image:hover{
    transform: scale(1.1, 1.1);
    
  
}

.hero_link{
    height: 73px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
}

.hero_link1{
    height: 73px;
    width: 347px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_link_header{
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 600;
    color: #00556e;
    font-family: sans-serif;
    border-bottom: 2px solid #caed30;
}

.hero_link_header:hover{
    color: #e872e2;
    border-bottom: 2px solid #e872e2;
}


/* second_hero_section */

.second_hero_section{
    height: 440px;
    width: 100%;
    /* border: 1px solid black; */
}

.second_hero_section_text{
    height: 37px;
    width: 100%;
    /* border: 1px solid black; */
}

.second_hero_section_text_info{
    font-family: sans-serif;
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin: 0px 0px 0px 60px;
    font-weight: 500;
    color: #003e37;
}
/* second_hero_section_product */
.second_hero_section_product{
    height: 308px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    

}


.second_hero_image1{
    height: 308px;
    width: 308px;
    /* border: 1px solid black; */
    background-size: contain;
    background-repeat: no-repeat;
    /* border-radius: 20px; */
}

/* second_hero_section_link_text */

.second_hero_section_link_text{
    height: 55.5px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}

.second_hero_section_link_text_info{
    height: 55.5px;
    width: 257px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

.an{
    text-decoration: none;
   
}


.h3:hover{
    color: #e872e2;
   border-bottom: 2px solid #e872e2;
}
.pp:hover{
    color: #e872e2;
}

.h3{
    font-size: 1.2rem;
    color: #003e37;
    margin: 0px 0px;
    font-weight: 100;
    border-bottom: 2px solid #caed30;
}

.pp{
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-family: sans-serif;
    color: #003e37;
}

.header{
    margin: 0px 43px ;
}

.headline{
    margin: 0px 30px;
    letter-spacing: 1px;
}

/* exclusive_boarder */

.exclusive_board{
    height: 641px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.exclusive_board_color{
    height: 464px;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.exclusive_board_color_info{
    height: 350px;
    width: 65%;
    /* border: 1px solid black; */
    background-color: #defff6;
    border-radius: 30px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.exclusive_text_link{
    height: 150px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: 100px;
   
}

.exclusive_link{
    height: 39.75px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: 116px;
    display: flex;
    justify-content: center;
    
}
.text_size{
    font-size: 4.1rem;
    text-align: center;
    font-family: serif;
    color: #003e37;
    font-weight: 100;
}

.para{
    height: 100%;
    width: 167.73px;
    /* border: 1px solid black; */
     background-color: #caed30;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50px;

     color: #003e37;
   text-decoration: none;
   font-family: sans-serif;
   font-size: 0.85rem;
   font-weight: 600;
   letter-spacing: 2px;
    
}

.link{
    
   text-decoration: none;
}


.para:hover{
    background-color: #003e37;
    color: #caed30;
 

  
}

/* noly_ info_text */

.only_info_text{
    height: 507Px;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #caed30;
}

.only_info_text_second_div{
    height: 400px;
    width: 80%;
    /* border: 1px solid black; */
    
}

.only_info_text_second_div_R{
    height: 27px;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 1.4rem;
    font-family: sans-serif;
    color: #003e37;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}

.only_info_icon{
    height: 273px;
    width: 856px;
    /* border: 1px solid black; */
    position: relative;
    top: 40px;
    left: 180px;
}

.only_info_main_icon{
    height: 38px;
    width: 100%;
    /* border: 1px solid black; */
    text-align: center;
    font-size: 26px;
   letter-spacing: 10px;
}

.only_paragraph{
    font-size: 2.5rem;
    text-align: center;
    color: #003e37;
    font-family: sans-serif;
    margin-top: 30px;
    line-height: 60px;
}

/* just a text and link */

.just_text_link{
    height: 128px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 40px;
    text-align: center;
}

.hme{
    font-size: 2.2rem;
    margin-bottom: 8.5px;
    margin-top: 5px;
    color: #003e37;
    font-weight: 500;
    letter-spacing: 2px;
    font-family: sans-serif;
    
}

.ami{
    font-size: 1.4rem;
    font-family: sans-serif;
    font-weight: 500;
    color: #003e37;
}

.ami:hover{
    color: #e872e2;
}

/* hero_picture */
.hero_picture{
    height: 259px;
    /* width: 100%; */
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

.hero_picture_info{
    height: 221px;
    width: 223px;
    /* border: 1px solid black; */
    background-size: cover;
    background-repeat: no-repeat;
    animation: hero_animation 2s linear infinite normal;
}


/* main_footer_section */

 .welly_main_footer_section{
    height: 406px;
    width: 100%;
    /* border: 1px solid black; */
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: #003e37;
   

}
.last_div{
    height: 45px;
    width: 107px;
    /* border: 1px solid black; */
    position: relative;
    top: 150px;
    right: 82%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #004c46;
    border-radius: 30px;
}

.last_second_div{
    height: 15px;
    width: 50px;
    display: flex;
    color: #ffffff;
    font-size: 1rem;
}
.last_sPan{
    margin: 0px 10px;
}


.welly_main_footer_section_info{
    height: 250px;
    width: 80%;
    /* border: 1px solid black; */
    display: flex;
   
}

.atasment_div{
    height: 250px;
    width: 65%;
   
}

.footer_information{
    height: 150px;
    width: 60%;
    /* border: 1px solid black; */
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    
}

.footer_security_information{
    height: 75px;
    width: 60%;
    /* border: 1px solid black; */
    margin: 24px 40px;
    display: flex;
    
}

.footer_social_inforamtion{
    height: 250px;
    width: 30%;
    /* border: 1px solid black; */
    
}

.information1{
    height: 150px;
    width: 27%;
    /* border: 1px solid black; */
}
.info_ul{
    list-style-type: none;
}
.info_link{
    text-decoration: none;
    color: #f0eeed;
    font-size: 0.75rem;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 35px;
}

.info_link:hover{
    color: #e872e2;
}

.info_link1{
    text-decoration: none;
    color: #f0eeed;
    font-size: 0.75rem;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    /* margin-top: 30px; */
}
.info_link1:hover{
    color: #e872e2;
}

.information2{
    height: 150px;
    width: 27%;
    /* border: 1px solid black; */
}
.information3{
    height: 150px;
    width: 27%;
    /* border: 1px solid black; */
}
.info_h3{
    font-size: 0.75rem;
    font-family: sans-serif;
    color: #f0eeed;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 10px 0px;
    
}

.info_link11{
    border-bottom: 2px solid #caed30;
    font-size: 0.75rem;
    font-family: sans-serif;
    color: #f0eeed;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 35px;
    text-decoration: none;
}
.info_link11:hover{
    color: #e872e2;
    border-bottom: 2px solid #e872e2;
}

.email_search_bar{
    height: 77px;
    width: 100%;
    /* border: 1px solid black; */
}

.email_search_bar_text{
    height: 28px;
    width: 100%;
    /* border: 1px solid black; */
    position: relative;
    top: 140px;
    
}

.security_logo{
    height: 75px;
    width: 44px;
    /* border: 1px solid black; */
    background-size: 43px;
    background-repeat: no-repeat;
}

.security_text{
    height: 75px;
    width: 100%;
    /* border: 1px solid black; */
}
/* SOCIAL_LINKOF FOOTER */

.social_ul{
    list-style-type: none;
    display: flex;
}
.social_li{
    margin-right: 20px;
    
   
}
.social_main_link{
    text-decoration: none;
    color: #f0eeed;
    font-family: sans-serif;
    border-bottom: 2px solid #caed30;
    font-size: 0.75rem;
    letter-spacing: 1px;
}
.social_main_link:hover{
    color: #e872e2;
    border-bottom: 2px solid #e872e2;

}

/* EMAIL_ADDRESS */
.STAY{
    margin-bottom: 20px;
    color: #f0eeed;
    font-family: sans-serif;
    font-size: 0.75rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.email_input_info{
    background-color: #003e37;
    border: none;
    
    color: #f0eeed;
}

.input_div{
    height: 30px;
    width: 70%;
    border-bottom: 2px solid #f0eeed;
    display: flex;
}
.arrow_div{
    height: 30px;
    width: 25%;
    border: 2px solid #caed30;
    text-align: center;
    color: #caed30;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    position: relative;
   left: 25px;
   bottom: 7px;
    
}

.arrow_div:hover{
    color: #e872e2;
    border: 2px solid #e872e2;
}

/* at last ul */
.at_last_ul{
    list-style-type: none;
    display: flex;
    
}
.at_last_li{
    font-size: 0.6rem;
}

.at_last_li_angcor{
    font-size: 0.6rem;
    margin-left: 5px;
    color: #009787;
    display: flex;
    text-decoration: none;

}
.hover:hover{
    color: #e872e2;
}