
#subscribed{
    background-color: red;
    padding: 20px 35px;
    color: white;
    font-size: 19px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#click{
    width: 500px;
    padding: 10px;
    font-size: 16px;
    background-color: salmon;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#image{
    width: 500px;
    height: 300px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    object-fit: cover;
}

/* Dropdown menu  */

#btn{
    padding: 20px;
    background-color: rgb(20, 182, 246);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

#last_div{
   display: none;
   background-color: #f1f1f1;
   position: absolute;
   border: none;
   border-radius: 5px;
}

#last_div a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: green;
    line-height: 35px;
    width: 149px;
    font-family: serif;

}


/* icon drop down  */

#icon{
    font-size: 2rem;
    cursor: pointer;
}

#consider_list{
background-color: #f1f1f1;
position: absolute;
display: none;
    
}

#consider_list a{
    display: block;
    text-decoration: none;
    color: rgb(41, 39, 39);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;

}

/* login form */

form{
    display: block;
    background-color: rgb(174, 174, 174);
    width: 166px;
   position: relative;
   left: 200px;
}

input{
    display: block;
    line-height: 30px;
    margin: 10px 0px ;
    border: none;
}

#get_submit{
    font-size: 1.3rem;
    padding: 10px;
    margin:  0px 28px;
}

