#subscribed{
    background-color: red;
    padding: 20px 35px;
    color: white;
    font-size: 19px;
    border: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#click{
    width: 500px;
    padding: 10px;
    font-size: 16px;
    background-color: salmon;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}