*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


#colorFliper{
    height: 40%;
    width: 50%;
    background-color: red;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#colorFliperBtn{
    font-size: 1.3rem;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    cursor: pointer;
}