*{
    margin: 0px;
    padding: 0px;
}



#div1{
    height: 100px;
    width: 70px;
    background-color: red;
    margin: 30px 0px 0px 30px;
    box-shadow: 2px 1px 15px red;
    border: 1px solid green;
    border-radius: 5px;
    cursor: pointer;
}

#div2{
    height: 100px;
    width: 70px;
    background-color: green;
    margin: 30px 0px 0px 30px;
    box-shadow: 2px 1px 15px green;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}

#div3{
    height: 100px;
    width: 70px;
    background-color: blue;
    margin: 30px 0px 0px 30px;
    box-shadow: 2px 1px 15px blue;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

#div4{
    height: 100px;
    width: 70px;
    background-color: white;
    margin: 30px 0px 0px 30px;
    box-shadow: 2px 1px 15px white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}