*{
    font-family: sans-serif;
    

}

.containerDiv{
    height: 50vw;
    width: 20%;
    background-color: black;
    color: #fff;
    /* transform: scaleX(1);
    transition: all 1s 0s linear; */
    display: none;
}

/* .containerDiv:hover{
    transform: scaleX(0);
} */
#icon{
    color: #fff;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}


.sidebarNav{
    position: absolute;
    left: 50%;
    bottom: 50%;
}