*{
    font-family: sans-serif;
}

.input{
    height: 2vw;
    width: 70%;
    border: 1px solid black;
    margin: 100px auto;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.area{
    height: 3vw;
    width: 70%;
    border: none;
    background-color: rgb(198, 199, 201);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search{
    position: absolute;
    top: 7.5vw;
   left:  2vw;
   font-size: 1.5rem;
}
