*{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
    top: 40px;
    text-align: center;
}

#para{
    font-size: 2rem;
}

#button {
    font-size: 2rem;
}

.toggl{
    color: azure;
    background-color: black;
    font-size: 2rem;
    transition: all 2s 0s  ;
}

